@using SE.TruckTicketing.Contracts.Models.Operations
@using SE.TruckTicketing.Contracts.Security
@inherits BaseTruckTicketingComponent

<EditForm Model="@Request">
    <TridentValidationSummary TModel="TruckTicketStubCreationRequest"
                              Response="@ViewModel.Response"/>

    <div class="row mt-3 mb-3">
        <div class="col d-flex flex-column">

            <RadzenLabel Text="Facility"
                         Component="FacilityDropdown"/>

            <FacilityDropDown TValue="Guid"
                              TModel="Facility"
                              Class="w-100"
                              id="FacilityDropdown"
                              OnDataLoading="OnFacilitiesLoading"
                              @bind-Value="@Request.FacilityId"
                              TextProperty="@nameof(Facility.Display)"
                              ValueProperty="@nameof(Facility.Id)"
                              OnItemSelect="@SetFacilitySideId"/>
        </div>
        <div class="col d-flex flex-column">
            <RadzenLabel Text="Ticket Count"
                         Component="TicketCountNumeric"/>
            <RadzenNumeric TValue="int"
                           Name="TicketCountNumeric"
                           @bind-Value="@Request.Count"
                           Class="w-100"/>
        </div>
    </div>

    <div class="row mt-4 mb-3">
        <div class="col d-flex justify-content-end gap-2">
            <RadzenButton class="primary"
                               Click="@OnCreateButtonClick"
                               Text="Create & Download Ticket Stubs"
                               Disabled="@(!HasWritePermission(Permissions.Resources.TruckTicket))"
                               IsBusy="@IsProcessing"
                               BusyText="Creating & Downloading ..."/>
            <RadzenButton ButtonStyle="ButtonStyle.Light"
                          Text="Cancel"
                          Click="HandleCancel"/>
        </div>
    </div>
</EditForm>
