@using SE.Shared.Common.Lookups
@using SE.Shared.Common.Utilities
@using SE.TruckTicketing.Contracts.Lookups
@inherits BaseTruckTicketingComponent

@if (Facility?.Type == FacilityType.Lf)
{
    if (Model.LandfillSamplingStatus != null && ShowSamplingAlert)
    {
        <div class="row mb-3">
            <div class="col">
                <div class="alert @AlertClass d-flex align-items-center"
                     role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="currentColor"
                         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                         viewBox="0 0 16 16"
                         role="img"
                         aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>@Model.LandfillSamplingStatus.Message</div>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="col d-flex flex-column">
            <RadzenLabel Text="Gross Weight (T)"
                         Component="GrossWeightNumeric"
                         class="required"/>
            <TridentNumeric id="GrossWeightNumeric"
                            Name="GrossWeightNumeric"
                            MaxDecimalPlaces="2"
                            TValue="double"
                            @bind-Value="@Model.GrossWeight"
                            Change="@(_ => HandleWeightChange(false))"/>
        </div>
        <div class="col d-flex flex-column">
            <RadzenLabel Text="Tare Weight (T)"
                         Component="TareWeightNumeric"
                         class="required"/>
            <TridentNumeric id="TareWeightNumeric"
                            Name="TareWeightNumeric"
                            MaxDecimalPlaces="2"
                            TValue="double"
                            @bind-Value="@Model.TareWeight"
                            Change="@(_ => HandleWeightChange(true))"
                            Disabled="@(DisableTareWeightField)"/>
        </div>
        <div class="col d-flex flex-column">
            <RadzenLabel Text="Net Weight (T)"
                         Component="NetWeight"/>
            <RadzenNumeric id="NetWeight"
                           Name="NetWeight"
                           Value="@Model.NetWeight"
                           TValue="double"
                           ShowUpDown="false"
                           Format="0.00"
                           ReadOnly="true"/>
        </div>
    </div>
}

@if (Facility?.Type != FacilityType.Lf)
{
    <div class="row mb-3">
        <div class="col d-flex flex-column">
            <RadzenLabel Text="Load Volume"
                         Component="LoadVolumeNumeric"
                         class="required"/>
            <TridentNumeric id="LoadVolumeNumeric"
                            Name="LoadVolumeNumeric"
                            TValue="double?"
                            @bind-Value="@Model.LoadVolume"
                            MaxDecimalPlaces="2"
                            Change="@HandleCutChange"/>
        </div>
        <div class="col d-flex flex-column">
            <RadzenLabel Text="Load Entry Method"
                         Component="EntryMethodDropdown"/>
            <RadzenDropDown TValue="CutEntryMethod"
                            Class="w-100"
                            Id="EntryMethodDropdown"
                            @bind-Value="@Model.CutEntryMethod"
                            TextProperty="Value"
                            ValueProperty="Key"
                            Data="@(DataDictionary.For<CutEntryMethod>(false))"/>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column">
            <div class="card-header px-0">
                Volume (m³)
            </div>
            <br/>
            <div class="row">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Oil"
                                 Component="OilVolumeNumeric"/>
                    <TridentNumeric id="OilVolumeNumeric"
                                    Name="OilVolumeNumeric"
                                    TValue="double"
                                    @bind-Value="@Model.OilVolume"
                                    MaxDecimalPlaces="1"
                                    Disabled="@(Model.CutEntryMethod != CutEntryMethod.FixedValue)"
                                    Change="@(_ => HandleVolumeChange())"/>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Water"
                                 Component="WaterVolumeNumeric"/>
                    <TridentNumeric id="WaterVolumeNumeric"
                                    Name="WaterVolumeNumeric"
                                    TValue="double"
                                    @bind-Value="@Model.WaterVolume"
                                    MaxDecimalPlaces="1"
                                    Disabled="@(Model.CutEntryMethod != CutEntryMethod.FixedValue)"
                                    Change="@(_ => HandleVolumeChange())"/>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Solids"
                                 Component="SolidsVolumeNumeric"/>
                    <TridentNumeric id="SolidsVolumeNumeric"
                                    Name="SolidsVolumeNumeric"
                                    TValue="double"
                                    @bind-Value="@Model.SolidVolume"
                                    MaxDecimalPlaces="1"
                                    Disabled="@(Model.CutEntryMethod != CutEntryMethod.FixedValue)"
                                    Change="@(_ => HandleVolumeChange())"/>
                </div>
            </div>
            <hr class="text-muted"/>
            <div class="row">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Total"
                                 Component="TotalVolumeNumeric"/>
                    <RadzenNumeric id="TotalVolumeNumeric"
                                   Name="TotalVolumeNumeric"
                                   ShowUpDown="false"
                                   class="w-100"
                                   TValue="double"
                                   @bind-Value="@Model.TotalVolume"
                                   Format="N1"
                                   Disabled="true"/>
                    @if (IsTotalVolumeInvalid)
                    {
                        <div class="mt-1 text-danger validation-message">
                            Total volume must be equal to 'Load Volume'.
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col d-flex flex-column">
            <div class="card-header px-0">
                Cuts (%)
            </div>
            <br/>
            <div class="row">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Oil"
                                 Component="OilCutPercentageNumeric"/>

                    <TridentNumeric id="OilCutPercentageNumeric"
                                    Name="OilCutPercentageNumeric"
                                    TValue="double"
                                    class="w-100"
                                    MaxDecimalPlaces="1"
                                    Disabled="@(Model.CutEntryMethod != CutEntryMethod.Percentage)"
                                    @bind-Value="@Model.OilVolumePercent"
                                    Change="@HandleCutChange"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Water"
                                 Component="WaterCutPercentageNumeric"/>

                    <TridentNumeric id="WaterCutPercentageNumeric"
                                    Name="WaterCutPercentageNumeric"
                                    TValue="double"
                                    class="w-100"
                                    MaxDecimalPlaces="1"
                                    Disabled="@(Model.CutEntryMethod != CutEntryMethod.Percentage)"
                                    @bind-Value="@Model.WaterVolumePercent"
                                    Change="@HandleCutChange"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Solids"
                                 Component="SolidsCutPercentageNumeric"/>

                    <TridentNumeric id="SolidsCutPercentageNumeric"
                                    Name="SolidsCutPercentageNumeric"
                                    ShowUpDown="false"
                                    TValue="double"
                                    class="w-100"
                                    MaxDecimalPlaces="1"
                                    Disabled="@(Model.CutEntryMethod != CutEntryMethod.Percentage)"
                                    @bind-Value="@Model.SolidVolumePercent"
                                    Change="@HandleCutChange"/>
                </div>
            </div>
            <hr class="text-muted"/>
            <div class="row">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Total"
                                 Component="TotalCutPercentageNumeric"/>

                    <RadzenNumeric id="TotalCutPercentageNumeric"
                                   Name="TotalCutPercentageNumeric"
                                   ShowUpDown="false"
                                   class="w-100"
                                   TValue="double"
                                   @bind-Value="@Model.TotalVolumePercent"
                                   Format="N1"
                                   Disabled="true"/>

                    @if (IsTotalVolumePercentInvalid)
                    {
                        <div class="mt-1 text-danger validation-message">
                            Total percentage must be equal to 100
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
