@page "/truck-ticketing/tare-weights"
@using SE.TruckTicketing.Contracts.Models.Operations
@using SE.Shared.Common.Lookups
@inherits BaseRazorComponent

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="d-flex gap-2 align-items-start">
            <h3 class="fw-bold">Tare Weight</h3>
        </div>
        <div class="d-flex gap-2 align-items-end">
            <RadzenButton Click="@(args => UploadTareWeight())"
                          Text="Upload Tare Weight Data"
                          ButtonStyle="ButtonStyle.Primary"
                          Size="ButtonSize.Medium"/>
            <RadzenButton Icon="save_alt"
                          title="Export to CSV"
                          ButtonStyle="ButtonStyle.Secondary"
                          Click="@Export"
                          Disabled="@(!_tareWeights.Results.Any())"/>
        </div>
    </div>
    <div class="card-body grid-switch-container">

        <GridFiltersContainer Expandable="@false"
                              @ref="_gridFiltersContainer"
                              OnFilterChange="@(async criteria => await LoadTareWeights(criteria))">
            <div class="d-flex flex-grow-1 gap-3">
                <KeywordFilter Label="Search"
                               Placeholder="Search by trucking company name, truck number or trailer number..."/>
                <DropDownDataGridFilter Label="Facility"
                                        FilterPath="@nameof(TruckTicketTareWeight.FacilityId)"
                                        Placeholder="All facilities"
                                        TItem="Facility"
                                        DefaultSortProperty="@nameof(Facility.Name)"
                                        TextProperty="@nameof(Facility.SiteId)"
                                        BeforeDataLoad="@(criteria => { criteria.Filters[nameof(Facility.IsActive)] = true; criteria.Filters[nameof(Facility.Type)] = FacilityType.Lf.ToString(); })">
                    <Columns>
                        <RadzenDropDownDataGridColumn Property="@nameof(Facility.SiteId)"
                                                      Title="Site Id"
                                                      Width="50px"/>
                        <RadzenDropDownDataGridColumn Property="@nameof(Facility.Name)"
                                                      Title="Name"
                                                      Width="100px"/>
                    </Columns>
                </DropDownDataGridFilter>
                <DateRangeFilter Label="Load Date"
                                 FilterPath="@nameof(TruckTicketTareWeight.LoadDate)"/>
            </div>
        </GridFiltersContainer>

        <div class="pt-4">
            <PagableGridView TModel="TruckTicketTareWeight"
                             @ref="_grid"
                             Results="@_tareWeights"
                             EnableSearch="false"
                             EnablePaging="true"
                             EnableSorting="true"
                             OnDataLoad="@LoadTareWeights"
                             IsLoading="@_isLoading"
                             EnableFilters="false">
                <Columns>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.IsActivated)"
                                      Title="Activated"
                                      PropertyType="typeof(string)"
                                      Width="5rem">
                        <Template Context="context">
                            <RadzenSwitch @bind-Value="@context.IsActivated"
                                          class="grid-switch"
                                          Change="() => ChangeActivateFlag(context)"/>
                        </Template>
                    </ColumnDefinition>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.LoadDate)"
                                      Title="Load Date"
                                      PropertyType="typeof(string)">
                    </ColumnDefinition>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.FacilityName)"
                                      Title="Facility Name"
                                      PropertyType="typeof(string)">
                    </ColumnDefinition>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.TruckingCompanyName)"
                                      Title="Trucking Company Name"
                                      PropertyType="typeof(string)">
                    </ColumnDefinition>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.TruckNumber)"
                                      Title="Truck Number"
                                      PropertyType="typeof(string)">
                    </ColumnDefinition>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.TrailerNumber)"
                                      Title="Trailer Number"
                                      PropertyType="typeof(string)">
                    </ColumnDefinition>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.TicketNumber)"
                                      Title="Ticket Number"
                                      PropertyType="typeof(string)">
                    </ColumnDefinition>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.TareWeight)"
                                      Title="Tare Weight"
                                      PropertyType="typeof(string)">
                    </ColumnDefinition>
                    <ColumnDefinition TItem="TruckTicketTareWeight"
                                      Property="@nameof(TruckTicketTareWeight.CreatedBy)"
                                      Title="Changed By"
                                      PropertyType="typeof(string)">
                    </ColumnDefinition>
                </Columns>
            </PagableGridView>
        </div>
    </div>
</div>
