@using SE.TruckTicketing.Contracts.Models.Operations
@inherits BaseRazorComponent

<EditForm Model="@ViewModel.EdiFieldDefinition"
          OnValidSubmit="@SaveButton_Clicked">
    <TridentValidationSummary Response="ViewModel.Response"
                              TModel="EDIFieldDefinition"/>
    <span class="pb-3 text-danger">@ViewModel.ValidationSummary</span>
    <div class="card">
        <div class="card-header">
            <h4 class="fw-bold">EDI Field Details</h4>
        </div>
        <div class="card-body">
            <div class="row mt-2 mb-2">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="EDI Field"
                                 Component="EDIFieldDropDown"/>
                    <TridentApiDropDownDataGrid id="EDIFieldDropDown"
                                                TModel="EDIFieldLookup"
                                                TValue="Guid"
                                                Placeholder="Select EDI Field..."
                                                @bind-Value="@ViewModel.EdiFieldDefinition.EDIFieldLookupId"
                                                TextProperty="@nameof(EDIFieldLookup.Name)"
                                                PageSize="10"
                                                Disabled="@IsEdiFieldDropDownDisabled"
                                                OnItemSelect="OnEDIFieldChanged"
                                                OnDataLoading="@(criteria => criteria.OrderBy = nameof(EDIFieldLookup.Name))">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="@nameof(EDIFieldLookup.Name)"/>
                        </Columns>
                    </TridentApiDropDownDataGrid>
                </div>
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Default Value"
                                 Component="DefaultValueTextBox"/>
                    <RadzenTextBox @bind-Value="@ViewModel.EdiFieldDefinition.DefaultValue"
                                   Name="DefaultValueTextBox"/>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="EDI Required"
                                 Component="IsRequiredSwitch"/>
                    <RadzenSwitch @bind-Value="@ViewModel.EdiFieldDefinition.IsRequired"
                                  Name="IsRequiredSwitch"/>
                </div>
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Print on Invoice"
                                 Component="IsPrintedSwitch"/>
                    <RadzenSwitch @bind-Value="@ViewModel.EdiFieldDefinition.IsPrinted"
                                  Name="IsPrintedSwitch"/>
                </div>
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Validation Required"
                                 Component="ValidationRequiredSwitch"/>
                    <RadzenSwitch @bind-Value="@ViewModel.EdiFieldDefinition.ValidationRequired"
                                  Name="ValidationRequiredSwitch"
                                  Change="@(args => ValidationOnChange(args))"/>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                @if (ShowValidationPattern)
                {
                    <div class="col d-flex flex-column"
                         hidden="@ShowValidationPattern">
                        <RadzenLabel Text="Validation Pattern"
                                     Visible="ShowValidationPattern"
                                     Component="ValidationPatterDropDown"/>
                        <TridentApiDropDown id="ValidationPatterDropDown"
                                            TModel="EDIValidationPatternLookup"
                                            TValue="Guid"
                                            Placeholder="Select Validation Pattern..."
                                            @bind-Value="@ViewModel.EdiFieldDefinition.ValidationPatternId"
                                            TextProperty="@nameof(EDIValidationPatternLookup.Name)"
                                            PageSize="10"
                                            OnItemSelect="OnEDIValidationPatternChanged"/>
                    </div>
                }
                @if (ViewModel.EdiFieldDefinition.ValidationRequired && !string.IsNullOrEmpty(ViewModel.EdiFieldDefinition.ValidationPattern))
                {
                    <div class="col d-flex flex-column">
                        <RadzenLabel Text="Pattern"
                                     Component="PatternTextBox"/>
                        <RadzenTextBox id="PatternTextBox"
                                       @bind-Value="@ViewModel.EdiFieldDefinition.ValidationPattern"/>
                    </div>
                    <div class="col d-flex flex-column">
                        <RadzenLabel Text="Error Message"
                                     Component="ErrorMessageTextBox"/>
                        <RadzenTextBox id="ErrorMessageTextBox"
                                       @bind-Value="@ViewModel.EdiFieldDefinition.ValidationErrorMessage"/>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col d-flex justify-content-end">
            <RadzenButton Text="@ViewModel.SubmitButtonText"
                          ButtonStyle="ButtonStyle.Primary"
                          ButtonType="ButtonType.Submit"
                          IsBusy="_isSaving"
                          BusyText="@ViewModel.SubmitButtonBusyText"/>
            <RadzenButton ButtonStyle="ButtonStyle.Light"
                          Text="Cancel"
                          class="ml-2"
                          Click="HandleCancel"/>
        </div>
    </div>
</EditForm>
