@inherits BaseTruckTicketingComponent

<div class="btn-group" style="width: 23rem;" role="group">
    <button type="button" class="btn @SalesLinesButtonClass" @onclick="@OpenSalesLines">Sales Lines</button>
    <button type="button" class="btn @LoadConfirmationsButtonClass" @onclick="@OpenLoadConfirmation">Load Confirmations</button>
    <button type="button" class="btn @InvoicesButtonClass" @onclick="@OpenInvoices">Invoices</button>
</div>
