@page "/billing-configuration/new/{billingCustomerId}"
@page "/billing-configuration/{Operation}/{billingCustomerId}/{id:guid}"
@using SE.TruckTicketing.Contracts.Models.Operations
@using SE.BillingService.Contracts.Api.Models
@using SE.Shared.Common.Utilities
@using SE.TruckTicketing.Contracts.Lookups
@inherits BaseTruckTicketingComponent

<PageLoadingContainer IsLoading="_isLoading">
<LoadedView>
<EditForm EditContext="@_editContext"
          OnValidSubmit="OnHandleSubmit"
          @ref="_editForm"
          class="h-100">
<div class="d-flex flex-column h-100">
<div class="flex-grow-0 p-4">
    <div class="d-flex align-items-end justify-content-between">
        <div class="d-flex gap-3 flex-column">
            <h3 class="title flex-grow-1 m-0">@_viewModel.Title</h3>
            <div class="d-flex gap-2 flex-column">
                <span class="flex-grow-1">
                    <strong>Invoice Configuration: </strong>@_invoiceConfiguration?.Name
                </span>
                <span class="flex-grow-1">
                    <strong>Account: </strong>@_billingCustomer?.Name
                </span>
            </div>
        </div>
    </div>
    <br/>
    <TridentValidationSummary Response="_response"
                              TModel="BillingConfiguration"/>
</div>
<div class="flex-grow-1 p-4"
     style="overflow-y: auto">
<RadzenTabs>
<Tabs>
<RadzenTabsItem Text="Billing Configuration Info">
<div class="card">
    <div class="card-header">
        <h4 class="fw-bold">General Info</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col d-flex flex-column">
                <RadzenLabel Text="Generator"
                             Component="CustomerGeneratorDropDown"/>

                <AccountsDropDown id="CustomerGeneratorDropDown"
                                  TValue="Guid"
                                  AccountType="Generator"
                                  Placeholder="Select generator..."
                                  @bind-Value="@_viewModel.BillingConfiguration.CustomerGeneratorId"
                                  TextProperty="@nameof(Account.Name)"
                                  ValueProperty="@nameof(Account.Id)"
                                  PageSize="10"
                                  OnItemSelect="OnGeneratorDropdownChange"
                                  OnItemLoad="OnGeneratorDropdownLoad"
                                  Disabled="@_isLoadingMatchPredicates"
                                  OnDataLoading="HandleGeneratorLoading"/>
            </div>
            <div class="col d-flex flex-column">
                <RadzenLabel Text="Load Confirmation Contact"
                             Component="BillingContactDropDown"/>

                <RadzenDropDown TValue="Guid?"
                                Placeholder="Select load confirmation contact..."
                                AllowClear="true"
                                AllowFiltering="true"
                                Class="w-100"
                                id="BillingContactDropDown"
                                @bind-Value="@_viewModel.BillingConfiguration.BillingContactId"
                                Data="@_billingCustomerContacts"
                                TextProperty="@nameof(AccountContact.Name)"
                                ValueProperty="@nameof(AccountContact.Id)"
                                Change="@(args => OnBillingContactChange(args))">
                    <Template Context="data">
                        @($"{(data as AccountContact)?.Name} {(data as AccountContact)?.LastName}")
                    </Template>
                </RadzenDropDown>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col d-flex flex-column">
                <RadzenLabel Text="Generator Representative"
                             Component="GeneratorRepresentativeDropDown"/>

                <RadzenDropDown TValue="Guid?"
                                Placeholder="Select generator representative..."
                                AllowClear="true"
                                AllowFiltering="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Class="w-100"
                                id="GeneratorRepresentativeDropDown"
                                @bind-Value="@_viewModel.BillingConfiguration.GeneratorRepresentativeId"
                                Data="@_generatorContacts"
                                TextProperty="@nameof(AccountContact.Name)"
                                ValueProperty="@nameof(AccountContact.Id)">
                    <Template Context="data">
                        @($"{(data as AccountContact)?.Name} {(data as AccountContact)?.LastName}")
                    </Template>
                </RadzenDropDown>
            </div>
            <div class="col d-flex flex-column">
                <RadzenLabel Text="Load Confirmation Contact Address"
                             Component="BillingContactTextBox"/>
                <RadzenTextBox id="BillingContactTextBox"
                               @bind-Value="@_viewModel.BillingConfiguration.BillingContactAddress"
                               class="w-100"
                               Disabled="true"/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4 d-flex flex-column">
                <RadzenLabel Text="Name"
                             Component="NameTextBox"
                             class="required"/>
                <RadzenTextBox id="NameTextBox"
                               @bind-Value="@_viewModel.BillingConfiguration.Name"
                               class="w-100"/>
            </div>
            <div class="col-4 d-flex flex-column">
                <RadzenLabel Text="Facilities"
                             Component="FacilityDropDown"/>

                <RadzenDropDown @bind-Value="@_viewModel.SelectedFacilities"
                                Data="@_viewModel.facilityData"
                                TextProperty="@nameof(Facility.Display)"
                                ValueProperty="@nameof(Facility.Id)"
                                AllowFiltering="true"
                                AllowClear="true"
                                Multiple="true"
                                Placeholder="Select facilities...."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowVirtualization="false"
                                Class="w-100"
                                Change="OnFacilitiesChange"
                                Disabled="@_isLoadingMatchPredicates"/>
            </div>
            <div class="col-4 d-flex flex-column">
                <RadzenLabel Text="Include For Automation"
                             Component="IncludeForAutomation"/>
                <RadzenSwitch id="IncludeForAutomation"
                              @bind-Value="_viewModel.BillingConfiguration.IncludeForAutomation"/>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex align-content-center">
        <h4 class="fw-bold">Dates</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col d-flex flex-column">
                <div class="d-flex align-content-center">
                    <RadzenLabel Text="Start Date"
                                 Component="StartDateTimePicker"/>
                    <span class="text-danger">*</span>
                    <small class="px-2 text-muted small-grey-label">MM/DD/YYYY</small>
                </div>

                <RadzenDatePicker TValue="DateTimeOffset?"
                                  id="StartDateTimePicker"
                                  DateFormat="MM/dd/yyyy"
                                  Class="w-100"
                                  @bind-Value="@_viewModel.BillingConfiguration.StartDate"
                                  Change="@OnDateChange"/>
            </div>

            <div class="col d-flex flex-column">
                <div class="d-flex align-content-center">
                    <RadzenLabel Text="End Date"
                                 Component="EndDateTimePicker"/>
                    <small class="px-2 text-muted small-grey-label">MM/DD/YYYY</small>
                </div>

                <RadzenDatePicker TValue="DateTimeOffset?"
                                  id="EndDateTimePicker"
                                  DateFormat="MM/dd/yyyy"
                                  Class="w-100"
                                  @bind-Value="@_viewModel.BillingConfiguration.EndDate"
                                  Change="@OnDateChange"/>
            </div>
            <div class="col d-flex flex-column"></div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex align-content-center">
        <h4 class="fw-bold">EDI Values</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <EDIValues EDIFieldValues="@_viewModel.BillingConfiguration.EDIValueData"
                       EDIFields="@_loadEDIFieldDefinition.Results"
                       OnValueChange="NewEDIValueReceived"
                       OnInvalidData="() => enableSave = false"/>
        </div>
    </div>
</div>
<MatchCriteriaGrid OnAddEditMatchPredicate="AddEditMatchPredicate"
                   OverlappingMatchPredicates="@_viewModel.overlappingMatchPredicates"
                   BillingConfiguration="@_viewModel.BillingConfiguration"
                   Disabled="@_matchCriteriaGridDisabled"
                   InvoiceConfiguration="@_invoiceConfiguration"
                   SourceLocations="@_sourceLocations"/>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="d-flex align-items-center gap-3">
            <h4 class="fw-bold">Email Signature Approval</h4>
            <RadzenSwitch @bind-Value="_viewModel.BillingConfiguration.IsSignatureRequired"/>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="d-flex align-items-center gap-3">
            <h4 class="fw-bold">Field Ticket Upload</h4>
            <RadzenSwitch @bind-Value="_viewModel.BillingConfiguration.FieldTicketsUploadEnabled"/>
        </div>
    </div>
    @if (_viewModel.BillingConfiguration.FieldTicketsUploadEnabled)
    {
        <div class="card-body">
            <div class="row mb-3">
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Invoice Exchange"
                                 Component="InvoiceExchangeDropDown"/>
                    <RadzenDropDown TValue="string"
                                    id="InvoiceExchangeDropDown"
                                    TextProperty="@nameof(InvoiceExchangeDto.PlatformCode)"
                                    ValueProperty="@nameof(InvoiceExchangeDto.PlatformCode)"
                                    Data="@_platformCodes"
                                    @bind-Value="@_viewModel.BillingConfiguration.InvoiceExchange"
                                    AllowClear="@true"
                                    AllowFiltering="@true"
                                    Placeholder="Select Invoice Exchange..."
                                    class="w-100"/>
                </div>
                <div class="col d-flex flex-column">
                    <RadzenLabel Text="Field Ticket Delivery Method"
                                 Component="FieldTicketDeliveryMethodRadioButtonList"
                                 class="m-0"/>

                    <RadzenRadioButtonList TValue="FieldTicketDeliveryMethod?"
                                           Class="w-100"
                                           Id="FieldTicketDeliveryMethodRadioButtonList"
                                           @bind-Value="@_viewModel.BillingConfiguration.FieldTicketDeliveryMethod"
                                           TextProperty="Value"
                                           ValueProperty="Key"
                                           Change="@(HandleFieldTicketDeliveryMethod)"
                                           Data="@(DataDictionary.For<FieldTicketDeliveryMethod>(false))"/>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-6">
        <BillingApplicantSignatoryGrid SignatoryContacts="@_viewModel.BillingConfiguration.Signatories"
                                       BillingCustomerAccount="@_billingCustomer"
                                       GeneratorAccount="@_generatorAccount"
                                       SignatoryContactDeleted="ApplicantSignatoryDeletedHandler"
                                       SignatoryContactAddUpdate="ApplicantSignatoryAddUpdateHandler"
                                       SignatoryContactAuthorizedChange="ApplicantSignatoryAuthorizeChangeHandler"
                                       IsAccountEdit="true"/>
        <EmailDeliveryGrid EmailDeliveryContacts="@_viewModel.BillingConfiguration.EmailDeliveryContacts"
                           BillingCustomerAccountContactList="@_emailDeliveryContacts"
                           Disabled="@_viewModel.BillingConfiguration.EmailDeliveryEnabled"
                           IsEnableEmailDeliveryContact="IsEmailDeliveryContactsEnabled"
                           EmailDeliveryContactAuthorizedChange="UpdateEmailDeliveryContactAuthorized"
                           EmailDeliveryContactDeleted="UpdateEmailDeliveryContactDeleted"
                           NewEmailDeliveryAdded="AddNewEmailDelivery"/>
    </div>
    <div class="col-6">

        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="d-flex align-items-center gap-3">
                    <h4 class="fw-bold">Load Confirmation Settings</h4>
                </div>
            </div>
            <div class="card-body">
                @if (_viewModel.BillingConfiguration.FieldTicketDeliveryMethod is not FieldTicketDeliveryMethod.TicketByTicket)
                {
                    <div class="row mb-3">
                        <div class="col d-flex flex-column">
                            <RadzenLabel Text="Frequency"
                                         Component="FrequencyDropdown"/>
                            <RadzenDropDown TValue="LoadConfirmationFrequency?"
                                            Class="w-100"
                                            Name="FrequencyDropdown"
                                            @bind-Value="@_viewModel.BillingConfiguration.LoadConfirmationFrequency"
                                            Data="@(DataDictionary.ForSelectedCategory<LoadConfirmationFrequency>(FieldTicketDeliveryMethod.LoadConfirmationBatch.ToString()))"
                                            TextProperty="Value"
                                            ValueProperty="Key"/>
                        </div>

                        @if (_viewModel.BillingConfiguration.LoadConfirmationFrequency == LoadConfirmationFrequency.Weekly)
                        {
                            <div class="col d-flex flex-column">
                                <RadzenLabel Text="Day of the Week"
                                             Component="DayOfTheWeekDropdown"/>
                                <RadzenDropDown TValue="DayOfWeek?"
                                                Class="w-100"
                                                Name="DayOfTheWeekDropdown"
                                                @bind-Value="@_viewModel.BillingConfiguration.FirstDayOfTheWeek"
                                                Data="@(DataDictionary.For<DayOfWeek>(false))"
                                                TextProperty="Value"
                                                ValueProperty="Key"/>
                            </div>
                        }

                        @if (_viewModel.BillingConfiguration.LoadConfirmationFrequency == LoadConfirmationFrequency.Monthly)
                        {
                            <div class="col d-flex flex-column">
                                <RadzenLabel Text="First Day of the Month"
                                             Component="DayOfTheMonthDropdown"/>
                                <RadzenNumeric TValue="int?"
                                               Class="w-100"
                                               Name="DayOfTheMonthDropdown"
                                               Min="1"
                                               Max="28"
                                               @bind-Value="@_viewModel.BillingConfiguration.FirstDayOfTheMonth"/>
                            </div>
                        }
                    </div>
                }

                <div class="row mb-3">
                    <div class="col d-flex flex-column">
                        <RadzenLabel Text="Include Internal Attachments"
                                     Component="InternalAttachmentSwitch"/>
                        <RadzenSwitch id="InternalAttachmentSwitch"
                                      @bind-Value="@_viewModel.BillingConfiguration.IncludeInternalAttachmentInLC"/>
                    </div>
                    <div class="col d-flex flex-column">
                        <RadzenLabel Text="Include External Attachments"
                                     Component="ExternalAttachmentSwitch"/>
                        <RadzenSwitch id="ExternalAttachmentSwitch"
                                      @bind-Value="@_viewModel.BillingConfiguration.IncludeExternalAttachmentInLC"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</RadzenTabsItem>
@if (!_viewModel.IsNew)
{
    <RadzenTabsItem Text="Billing Configuration History">
        <TridentChangeDataGridWrapper Id="_viewModel.BillingConfiguration.Id"
                                      EntityType="BillingConfiguration"
                                      EntityName="Billing Configuration"/>
    </RadzenTabsItem>
}
<RadzenTabsItem Text="Notes">
    <div class="card">
        <div class="card-header d-flex align-content-center">
            <h4 class="fw-bold">Comments</h4>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="d-flex align-items-start mb-3 note-item">
                    <div class="flex-grow-0 py-2 pr-2">
                        <RadzenGravatar Email="@CurrentUserName"/>
                    </div>
                    <div class="flex-grow-1 border border-1 rounded p-2">
                        <div class="grow-wrap"
                             data-replicated-value="@_replicatedValue">
                            <RadzenTextArea @ref="_noteEditor"
                                            @bind-Value="_viewModel.LastComment"
                                            Placeholder="Leave a comment..."
                                            class="w-100 display"
                                            Rows="4"
                                            @oninput="@OnInput"/>
                        </div>
                    </div>
                </div>
            </div>
            @if (!_viewModel.IsNew)
            {
                <Notes ThreadId="@NotesThreadId"
                       OnNoteUpdate="@HandleNoteUpdate"
                       OnDataLoad="@OnDataLoad"/>
            }
        </div>
    </div>
</RadzenTabsItem>
</Tabs>
</RadzenTabs>
</div>
<div class="flex-grow-0 d-flex align-items-center justify-content-between p-4">
    <div class="d-flex gap-2 align-items-center">
        <RadzenLabel Text="Set As Default Config"
                     Component="IsSetToDefaultSwitch"
                     class="m-0"/>
        <RadzenSwitch id="IsSetToDefaultSwitch"
                      @bind-Value="_viewModel.BillingConfiguration.IsDefaultConfiguration"/>
    </div>
    <div class="d-flex gap-2">
        @if (!HideReturnToAccount)
        {
            <RadzenButton Text="Return to Edit Account"
                          Icon="keyboard_return"
                          Click="@OnClickReturnToEditAccount"
                          class="rz-button rz-button-md btn-secondary text-decoration-none"/>
        }
        <RadzenButton Text="Close"
                      Icon="close"
                      Click="@OnClickCancel"
                      class="rz-button rz-button-md btn-secondary text-decoration-none active"/>
        <RadzenButton ButtonStyle="ButtonStyle.Primary"
                      ButtonType="ButtonType.Button"
                      Click="HandleSubmit"
                      Disabled="@(DisableSaveButton)"
                      Text="@_viewModel.SubmitButtonText"
                      IsBusy="_isSaving"
                      BusyText="@_viewModel.SubmitButtonBusyText"
                      Icon="@_viewModel.SubmitButtonIcon"/>
    </div>
</div>
</div>
</EditForm>
</LoadedView>
</PageLoadingContainer>
