@page "/additional-services"
@using SE.TruckTicketing.Contracts.Models.Operations
@inherits BaseTruckTicketingComponent

<div class="">
    <div class="bg-white p-4">
        <div class="breadcrumb-container">
            ADDITIONAL SERVICES
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <h3>Manage Additional Services</h3>
            <div class="d-flex align-items-center gap-1">
                <RadzenLink Icon="add_outline"
                            Path="/additional-services-configuration/new"
                            Text="Add Additional Services Configuration"
                            class="@($"rz-button rz-button-md btn-primary text-decoration-none {AddAdditionalServicesConfigLink_Css}")"/>
                <RadzenButton Icon="tune"
                              title="Show Column Options"
                              ButtonStyle="ButtonStyle.Light"
                              Click="@(() => _grid.ShowColumnOptions())"/>
                <RadzenButton Icon="save_alt"
                              title="Export to CSV"
                              ButtonStyle="ButtonStyle.Light"
                              Click="@Export"/>
            </div>
        </div>
    </div>

    <div class="p-4 grid-switch-container">
        <PagableGridView @ref="_grid" 
                         TModel="AdditionalServicesConfiguration"
                         Results="@_searchResults"
                         EnablePaging="true"
                         EnableSorting="true"
                         EnableSearch="true"
                         OnDataLoad="LoadData"
                         IsLoading="@_isLoading"
                         EnableFilters="false">
            <Columns>
                <ColumnDefinition TItem="AdditionalServicesConfiguration"
                                  Property="@nameof(AdditionalServicesConfiguration.IsActive)"
                                  Title="Active"
                                  Width="4rem"
                                  EnableSorting="false"
                                  CanToggleVisibility="false">
                    <Template Context="data">
                        <RadzenSwitch @bind-Value="@data.IsActive"
                                      class="grid-switch"
                                      Change="@(isActive => UpdateIsActiveState(data.Id, isActive))"
                                      Disabled="_updatingId == data.Id"/>
                    </Template>
                </ColumnDefinition>
                <ColumnDefinition TItem="AdditionalServicesConfiguration"
                                  Property="@nameof(AdditionalServicesConfiguration.Name)"
                                  Title="Additional Services">
                    <Template Context="data">
                        <span>
                            <RadzenLink Path="@("/additional-services-configuration/edit/" + data.Id)"
                                        Text="@data.Name"
                                        class="text-decoration-none"/>
                        </span>
                    </Template>
                </ColumnDefinition>
                <ColumnDefinition TItem="AdditionalServicesConfiguration"
                                  Property="@nameof(AdditionalServicesConfiguration.CustomerName)"
                                  Title="Customer Name"
                                  PropertyType="typeof(string)"/>
                <ColumnDefinition TItem="AdditionalServicesConfiguration"
                                  Property="@nameof(AdditionalServicesConfiguration.FacilityName)"
                                  Title="Facility Name"
                                  PropertyType="typeof(string)"/>
                <ColumnDefinition TItem="AdditionalServicesConfiguration"
                                  Property="@nameof(AdditionalServicesConfiguration.SiteId)"
                                  Title="Site Id"
                                  PropertyType="typeof(string)"/>
            </Columns>
        </PagableGridView>
    </div>
</div>
